body {
  font-family: 'SVN-Gilroy';
  font-size: 16px;
  line-height: 1;
  margin: 0 auto;
}

th,
td {
  text-align: center;
}

tr:nth-child(odd) {
  background: #F6F6F6;
}

.item {
  text-align: center;
  margin-bottom: 50px;
  width: 290px;
}

ul {
  list-style-type: none;
}

a,
u {
  text-decoration: none;
  color: #4F3119;
}

a:hover,
a:focus {
  color: #eaafb1;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.bg-grey {
  background-color: #F6F6F6;
}

.pd-15 {
  padding: 15px;
}

.left-content {
  text-align: left;
}

.gap-20 {
  gap: 0 20px;
}

.gap-12 {
  gap: 0 12px;
}

.mg-btm-24 {
  margin-bottom: 24px;
}

.mg-rgt-20 {
  margin-right: 20px;
}

.ft-18 {
  font-size: 18px;
}

.primary-color {
  color: #4F3119;
}

.bold {
  font-weight: 700;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.container_header {
  max-width: 1360px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

.main-story {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-container {
  max-width: 1190px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.default-width {
  max-width: 1190px;
}

.main-logo__container {
  max-width: 1180px;
  display: flex;
  margin: 13px auto;
  align-items: center;
  justify-content: space-between;
}

.menu-list-container {
  display: flex;
  margin: 10px auto;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  justify-items: center;
  margin: 30px 0 30px 0;
  gap: 0 60px;
}

.navbar-brand {
  display: none ;
} 

.header {
  height: 60px;
  background-color: #E3999B;
  color: #FFFFFF;
}

.header-logo {
  width: 107px;
  height: 107px
}


.header-auth {
  display: flex;
  height: 60px;
  align-items: center;
}

.header-auth-item {
  margin-right: 52px;
}

.header-auth-link {
  display: inline-block;
}

.header-auth-link a {
  color: #FFFFFF;
}

.menu {
  display: flex;
  padding-left: 0px;
  margin-bottom: 0;
}

.menu-item-hotline {
  padding-top: 6px;
}


.menu-item-socials {
  width: 32px;
  height: 32px;
  border-radius: 1050%;
  border: none;
  background-color: #FFFFFF;
  margin-right: 24px;
  cursor: pointer;
}

.name-line {
  padding-left: 220px;
  font-family: 'Comic Sans MS';
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  color: #4F3119;
  padding-right: 120px;
}

.main-logo_menu {
  display: flex;
  gap: 73px;
  padding-left: 0px;
}

.main-logo_menu-item {
  display: grid;
  justify-items: center;
  grid-gap: 10px;
  width: 72px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: center;

  color: #4F3119;
}

.menu-list_item {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  /* identical to box height, or 150% */
  text-transform: uppercase;
  color: #4F3119 !important;
}

.text-center {
  width: 257px;

  font-family: 'Comic Sans MS';
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #DD8D8F;
}

.text-center-fav {
  width: 529px;
  height: 53px;
  font-family: 'Comic Sans MS';
  font-size: 32px;
  line-height: 45px;
  text-align: center;

  color: #DD8D8F;
}

.text-center__decor-fav {
  position: absolute;
  z-index: 0;
}

.text-center__decor {
  position: absolute;
  z-index: 0;
}

.text-center__container {
  max-width: 1180px;
  display: flex;
  margin: 13px auto;
  margin-bottom: 26px;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-container>div {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-right: 23px;
}

.grid-container {
  display: grid;
}

.btn-show-all-center {
  width: 170px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E3999B;
  border-radius: 100px;
}

.btn-show-all__container {
  max-width: 1180px;
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 50px;
}

.btn-show-all-center {
  font-family: 'SVN-Gilroy';
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.text-center-sm {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  color: #4F3119;
}

.text-center-content {
  width: 790px;
  margin: 0 auto;
  font-family: 'SVN-Gilroy';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.text-center-size-table {

  font-family: 'Comic Sans MS';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;

  /* identical to box height */
  text-transform: uppercase;
  color: #000000;
}

.baby-size-table {
  border-collapse: collapse;
  width: 100%;
  width: 1023px;
  height: 457px;
}

.row-first {
  background: #E3999B;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  height: 66px;
  color: #FFFFFF;
}

.column-first {
  width: 122px;
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}

.column-content {
  width: 121px;
}

.item-title {
  display: inline-block;
  margin-top: 16px;
  width: 118px;
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.item-end {
  margin-bottom: 0px !important;
}

.item-price {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-family: 'SVN-Gilroy';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.item-blog {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 355px;
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #4F3119;
}

.item-blog-date {
  color: #BFBFBF;
}

.story-content {
  padding-top: 149px;
}

.story-title {

  font-family: 'Comic Sans MS';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: left;

  color: #4F3119;
}

.story-content-paragraph {
  font-weight: 400;
  font-size: 20px;
  width: 505px;
  line-height: 33px;
  margin-bottom: 30px;
}

.stoy-image-grand {
  position: absolute;
  z-index: -1;
}

.more-story-info-text {
  color: #E3999B;
  font-weight: bold;
}

.form-register-background {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 210px;
  background: #FFEDED;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.footer-info {
  padding-top: 137px;
  width: 100%;
  height: 547px;
  background: #E3999B;

}

.form-register-container {
  width: 850px;
  height: 160px;
  display: flex;
  gap: 0 10px;
}

.form-register-wrap {
  display: flex;
  width: 696px;
  height: 150px;
  align-items: center;
  flex-wrap: wrap;
}

.form-register-title {
  width: 256px;
  height: 33px;
  font-family: 'Comic Sans MS';
  font-weight: 700;
  font-size: 24px;
}

.form-register-text {
  width: 468.84px;
  height: 24px;
  text-align: start;
  font-family: 'SVN-Gilroy';
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
}

.form-register-input-container {
  width: 696px;
  height: 45px;
  display: flex;
  gap: 0 10px;
  margin-top: 50px;
}

.input-form {
  width: 245.83px;
  height: 47px;
  border: none;
  background: #FFFFFF;
  border-radius: 50px;
}

input.input-form {
  padding: 15px;
}

.btn-register {
  width: 158.04px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  text-align: center;

  color: #FFFFFF;
  background: #DD8D8F;
  border-radius: 50px;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
  color: #686767;
}

.footer-info h3 {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.footer-info-item {
  padding: 0px 20px;
}

.underline-header-info {
  margin-top: 0;
  margin-bottom: 0;
  width: 88px;
  height: 2px;
  border-width: 0;
  color: #FFFFFF;
  opacity: 100%;
  background-color: #FFFFFF;
}

.footer-item {
  line-height: 24px;
  color: #FFFFFF;
}

ul.breadcrumb {
  list-style: none;
  font-size: 16px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}

ul.breadcrumb li a {
  color: #000000;
  text-decoration: none;
}

ul.breadcrumb li.active {
  color: #000000;
  font-weight: bold;
}

ul.breadcrumb li a:hover {
  color: #E3999B;
}

.menuSideBar-container {
  width: 280px;
  height: 500px;
  background: #F6F6F6;
  margin-right: 20px;
}

.menuBar {
  padding: 20px 11px 0px 16px;
}

.menuBar-item li {
  padding: 10px;
}

.menuBar-header-title {
  padding: 16px;
  margin-bottom: 0px;
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #4F3119;
}

.underline-header-menuBar {
  width: 278px;
  height: 0px;
  margin: 0;

  border: 1px solid rgba(0, 0, 0, 0.2);
}

.sale-product-item {
  padding: 0px;
}

.menuBar-item {
  margin-bottom: 20px;
}

.menuBar-item a {
  font-family: 'SVN-Gilroy';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.product-gallery-container {
  width: 590px;
  height: 546px;
  display: flex;
}

.product-single__summary_container {
  width: 600px;
  height: 546px;
  padding-left: 95px;
}

.product-single_name {
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  color: #4F3119;
  margin-bottom: 24px;
  line-height: 30px;
}

.product-single_price {
  font-weight: 700;
  font-size: 30px;
  color: #C3493E;
  margin-bottom: 32px;
}

.product-single_addtocart {
  width: 430px;
  height: 225px;
}

.product-single_option-item {
  margin-bottom: 24px;
}

.product-single_option-select-label {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0;
}

.product-single_option-select {
  display: flex;
  vertical-align: middle;
}

.product_description_content {
  width: 100%;
}

.select_option {
  box-sizing: border-box;
  background: #FFFFFF;
  width: 130px;
  height: 48px;
  color: #000000;
  border: 2px solid #C4C4C4;
}

.selected-option {
  color: #C3493E;
  border: 2px solid #E3999B;
}

.product-single_action {
  margin-top: 48px;
}

.product-single__button {
  width: 205px;
  height: 56px;
  border: none;
  background: #E3999B;
  border-radius: 100px;
  color: #FFFFFF;
  font-family: 'SVN-Gilroy';
  font-weight: 700;
  font-size: 16px;
}

.button_addtocart {
  color: #E3999B;
  background: #FFFFFF;
  border: 2px solid #E3999B;
}

.product-single-description_container {
  width: 903px;
  height: 775px;
  margin-right: 20px;
}

.product-single-description {
  margin-top: 72px;
  width: 903px;
  height: 703px;
  border: 2px solid #DADADA;
}

.product_description_tab {
  display: flex;
  width: 903px;
  height: 56px;
}

.tab-item {
  width: 300px;
  padding: 11px 0px 16px 55px;
  font-family: 'SVN-Gilroy';
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  background: #F6F6F6;
  color: #000000;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
}

.tab-active {
  background: #FFFFFF;
  color: #4F3119;
  font-weight: 700;
}

.tab-selected-highlight {
  width: 300px;
  height: 6px;
  margin: 0;
  background: #E3999B;
  opacity: 100%;
}

.cart-section-container {
  width: 880px;
  height: auto;
  background-color: #F6F6F6;
}

.cart-section-header-row-container {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #4F3119;
  height: 60px;
  width: 880px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.grid-column-product {
  width: 436px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-column {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-container {
  padding: 27px 16px 27px 16px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-item-action-delete {
  width: 20px;
  margin-right: 40px;
}

.cart-item-info {
  margin-left: 20px;
  width: 205px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.cart-item__variant {
  font-size: 13px;
  color: #989898;
}

.cart-item-pricing {
  margin-left: 20px;
  width: 125px;
  text-align: center;
}

.quantity-box {
  width: 131px;
}

.cart-item-pricing-info__sub {
  margin-left: 20px;
  width: 125px;
  text-align: center;
}

.coupon-section-container {
  width: 280px;
  height: 160px;
}

.shipping-info-section-container {
  margin-top: 20px;
  margin-right: 77px;
  display: inline-block;
  height: 248px;
}

.discount-box {
  display: flex;
  gap: 0 10px;
  margin-top: 20px;
}

.input-form {
  width: 245.83px;
  height: 47px;
  border: none;
  background: #FFFFFF;
  border-radius: 50px;
  width: 174.29px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 30px;
}

.btn-applydiscount {
  font-size: 13px;
  width: 75px;
  height: 48px;
  color: #FFFFFF;
  background: #4F3119;
  border-radius: 30px;
}

.pricing-info-section-container {
  width: 280px;
  height: 245px;
}

.flex-item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.btn-order-item {
  width: 137.91px;
  height: 48px;
  border: none;
  color: #FFFFFF;
  background: #E3999B;
  border-radius: 30px;
}

.btn-order-item a {
  color: #FFFFFF;
}

.center-content {
  justify-content: center;
}

.shipping-info-section-container {
  width: 580px;
  height: auto;
}

.toggle-dropdown-title {
  font-weight: 400;
  font-size: 16px;

  /* identical to box height, or 150% */
  text-decoration-line: underline;

  color: #C3493E;
}

.payment-login-form-container {
  margin-top: 24px;
  height: 376px;
}

.input-text-form {
  width: 578.38px;
  height: 48px;
  border: none;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
}

input.input-text-form {
  padding: 15px;
  margin-bottom: 15px;
}

.flex-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-form-submit {
  width: 205px;
  height: 48px;
  border: none;
  color: #FFFFFF;
  background: #E3999B;
  border-radius: 100px;
  margin-bottom: 30px;
}

.login-sms-action {
  width: 578px;
  height: 48px;
  border: none;
  background: #25D366;
  border-radius: 100px;
  color: #FFFFFF;
}

.login-fb-action {
  width: 580px;
  height: 48px;
  background: #3B5998;
  border-radius: 100px;
  color: #FFFFFF;
}

.select-option {
  padding-left: 15px;
  margin-bottom: 15px;
  width: 580px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
}

.payment-method-table {
  border: 1px solid #C4C4C4;
}

.table-responsive tbody tr {
  cursor: pointer;
  height: 54px;
}

.table-responsive .payment-method-table tbody tr td {
  padding-top: 15px;
  padding-bottom: 10px;
}

.payment-confim-action-container {
  display: flex;
  justify-content: flex-end;
}

.btn-payment-confirm {
  height: 48px;
  width: 205px;
  border: none;
  font-weight: 700;
  color: #FFFFFF;
  background: #E3999B;
  border-radius: 100px;
}

.product-info-summary-container {
  margin-left: 20px;
  width: 504px;
  height: auto;
}

.discount-form {
  width: 356.6px;
}

.quantity-box {
  margin-left: 20px;
  width: 131px;
  height: 40px;
  border: 2px solid #000000;
}

.blog-background-container {
  width: auto;
  height: 509px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.blog-background-banner {
  width: 1440px;
  height: 509px;
}

.blog-text-banner {
  width: 1190px;
  height: 509px;
  position: absolute;
  display: flex;
  align-items: center;
  font-family: 'SVN-Gilroy';
  font-size: 80px;
  font-weight: 600;
  color: #4F3119;
}

.new-posted-blog-container {
  height: 524px;
  width: 750px;
  margin-right: 55px;
}

.new-post-main-container {
  width: 505px;
  height: 524px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.new-post-main-header-container {
  width: 400px;
  padding-bottom:24px ;
  position: absolute;
}

.new-post-right-side-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
width: 225px;
height: 251px;
}

.new-post-right-side-header-container {
  width: 172px;
  position: absolute;
  padding-bottom:24px ;
}

.new-post-header-title {
  padding: 5px;
  margin-bottom: 8px;
  text-align: center;
  height: 20px;
  width: 81px;
  font-size: 10px;
  background-color: #DF876F;
}

.new-post-title {
font-weight: 700;
font-size: 25px;
line-height: 26px;
color: #FFFFFF;
overflow-wrap: break-word;
}

.highlight-posted-blog-container {
  width: 405px;
  height: 524px;
}

.hightlight-post-container {
  height: 130px;
  margin-bottom: 60px;
}

.hightlight-post-date {
  width: 66px;
  height: 25px;

  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* identical to box height, or 208% */
  text-decoration-line: underline;

  color: #C4C4C4;
  margin-bottom: 6px;
}

.hightlight-post-short-content {
  width: 375px;
  height: 50px;
}

.ellipse-text {
  white-space: nowrap;
  display:inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hightlight-post-title {
  width: 324px;
margin-bottom: 8px;
font-family: 'SVN-Gilroy';
font-style: normal;
font-weight: 700;
font-size: 20px;

color: #63473C;
}

.two-lines {
  line-height: 25px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.kid-section-container {
  width: 595px;
 height: 820px;
}

.post-container {
 width: 525px;
 height: 216px;
 margin-bottom: 46px;
}

.posted-image {
  margin-right: 20px;
}

.mom-section-container {
  width: 595px;
  height: 820px;
}

.posted-category-title {
font-weight: 700;
font-size: 14px;
line-height: 15px;
color: #63473C;
margin-bottom: 8px;
}

.posted-title {
  font-family: 'SVN-Gilroy';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 21px;
margin-bottom: 8px;
color: #63473C;
}

.posted-short-content {
  width: 225px;
height: 66px;
font-weight: 400;
font-size: 16px;
line-height: 20px;
margin-bottom: 8px;
/* or 219% */

color: #000000;
}

.posted-seemore-link {
font-weight: 700;
font-size: 16px;

/* identical to box height, or 156% */

color: #E3999B;
}

.blog-header-title {
font-weight: 700;
font-size: 32px;
line-height: 45px;
margin-bottom: 25px;

/* identical to box height */
color: #E19B9D;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky + main {
  padding-top: 70px;
}

.navbar-toggler {
  border: none;
}

.break-space {
  width:100%; 
  height:100px
}


@media screen and (max-width: 811px){
  .menu-item-hotline {
    font-size: 12px;
  }

  .menu {
    padding-left: 10px;
  }

  .menu-item-socials {
    width: 26px;
    height: 26px;
    margin-right: 15px;
  }

  .header-auth-link{
    display: none;
  }

  .header-auth-item {
    margin-right: 30px;
  }
  .container_header {
    padding-right: 0px;
  }

  .sticky {
    position: relative;
  }

  .header-logo{
    width: 80px;
    height: 80px
  }

  .main-logo__container {
display: inline-block;
text-align: center;
width: 100%;
  }
  .name-line {
    padding-left: 0;
    font-family: 'Comic Sans MS';
    font-weight: 700;
    font-size: 30px;
    line-height: 67px;
    color: #4F3119;
    padding-right: 0;
  }

  .sticky + main {
    padding-top: 10px;
  }

  .main-logo_menu {
    justify-content: center;
  }

  .menu-list_item {
    font-size: 16px;
  }

  .navbar-brand {
    display:inline ;
  } 

  .text-center {
    font-size: 25px;
  }

  .text-center-content {
    width: auto;
    margin: 0 5px;
    font-size: 16px;
  }

  .baby-size-table {
    width: auto;
    margin: 0 10px;
    font-size: 12px;
  }

  .row-first {
    font-size: 12px;
    width: 66px;
  }

  .column-first {
    font-size: 12px;
    width: 80px;
  }

  .text-center__decor-fav {
    display: none;
  }

  .text-center-fav {
    width: auto;
    font-size: 25px;
  }

  .item {
    width: auto;
  }
  
  .break-space {
    display: none;
  }

  .story-content {
    padding-top: 0;
  }
  
  .story-title {
    text-align: center;
  }
  .story-content-paragraph {
    width: auto;
    overflow-wrap: break-word;
    text-align: center;
    margin: 0 10px;
    font-size: 16px;
  }

  .story-image-grand {
    display: none;
  }
  .form-register-container {
    width: auto;
    display: inline;
    margin-bottom: 20px;
  }

  .footer-logo {
    display: none;
  }

  .form-register-background {
    position: relative;
    border-radius: 0;
  }

  .form-register-wrap{
    width: auto;
    display: inline;
  }
  .form-register-text {
    text-align: center;
    margin: 0 10px;
    overflow-wrap: break-word;
    width: auto;
    font-size: 16px;
    height: unset;
  }

  .form-register-title {
    width: auto;
    font-size: 20px;
    height: unset;
    text-align: center;
    line-height: 30px;
  }

  .form-register-input-container {
    display: grid;
    width: auto;
    margin: 0 20px;
  }

  .input-form {
    width: auto;
    margin-bottom: 10px;
  }

  .footer-info {
    width: auto;
    height: auto;
    margin-top: 0;
    padding: 0 30px;
    padding-top: 50px;
   
  }

  .btn-register {
    height: 58px;
    width: auto;
  }

  .cart-section-container {
    width: auto;
  }

  .d-flex {
    display: unset !important;
    margin: 0;
  }
}